<html>
  <head>
    <style>
      * {font: Arial;}
      label {
      	background: yellow;
      	font-size: 13em;

      }


     </style>
  </head>
   
   <body>

     <form action="/" method="post">
	
       <label>her mit der frage:</label>

 	<p><input name="question" type="text" size="80" maxlength="140"></p>
  
     </form>
   </body>
</html>
